<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>example - page1</title>
    <% if (env === "production") { %>
        <link rel="stylesheet" href="/page1/index.css">
    <% } %>
</head>
<body>
    <div class="total-container">
        <div class="first-note">This is page1.</div>
        <br>
        <div id="draw" class="image-example-page1"></div>
    </div>
    <script src="/page1/bundle.js"></script>
    <% if (env !== "production" && reload === true) { %>
        <script src="/reload/reload.js"></script>
    <% } %>
</body>
</html>


