body {
    background: #fff;
    font-size: 14px;
}

.total-container {
    width: 160px;
    margin: 10px 0 0 10px;
    padding: 10px;
    border: 1px dotted #369;
}

.image-example-common {
    width: 60px;
    height: 60px;
    background: url(common_image.png) no-repeat;
}